In [1]:
import pandas as pd

In [2]:
mm_df = pd.read_csv('data/mm_score.csv', sep='\t')
mm_df = mm_df.drop(['MM_REQ_ID', 'Trainer_OK', 'Update_Date'], axis=1)
mm_df.columns = map(str.lower, mm_df.columns)

In [3]:
mm_df = mm_df.pivot_table(values='req_level', index='mode_id', columns='sill_id').reset_index()
parametrs = mm_df.drop(['mode_id'], axis=1)
names_list = parametrs.columns
mm_df['param'] = parametrs.apply(lambda row: [[row[x] for x in names_list]], axis=1)
mm_df = mm_df[['mode_id', 'param']]
mm_df['param'] = mm_df['param'].apply(lambda x: tuple(x[0]))

In [4]:
staff_df = pd.read_csv('data/staff_score.csv', sep='\t')
staff_df = staff_df.drop(['Score_ID', 'Trainer_OK', 'Update_Date'], axis=1)
staff_df.columns = map(str.lower, staff_df.columns)

In [5]:
staff_df = staff_df.pivot_table(values='score_value', index='empl_id', columns='skill_id').reset_index()
parametrs = staff_df.drop(['empl_id'], axis=1)
names_list = parametrs.columns
staff_df['param'] = parametrs.apply(lambda row: [[row[x] for x in names_list]], axis=1)
staff_df = staff_df[['empl_id', 'param']]
staff_df['param'] = staff_df['param'].apply(lambda x: tuple(x[0]))

In [6]:
staff_df['resource'] = staff_df['param'].apply(lambda x: sum(x))
mm_df['needs'] = mm_df['param'].apply(lambda x: sum(x))

In [7]:
sum(mm_df['needs'])

544

In [8]:
sum(staff_df['resource'])

1834

In [9]:
staff_df['key'] = 0
mm_df['key'] = 0
df = staff_df.merge(mm_df, on='key')
df.drop(labels='key', axis=1, inplace=True)

In [10]:
df['subtraction'] = df[['param_x', 'param_y']].apply(
    lambda row: [x - y for x, y in zip(row['param_x'], row['param_y'])], axis=1)

In [11]:
df['coef_+'] = df['subtraction'].apply(lambda x: sum([i for i in x if i > 0]))
df['coef_-'] = df['subtraction'].apply(lambda x: sum([i for i in x if i < 0]))
df['absolute_error'] = df['subtraction'].apply(lambda x: sum([abs(i) for i in x]))

In [14]:
df.sort_values(['coef_-', 'coef_+'], ascending=[False, True])

,empl_id,param_x,resource,mode_id,param_y,needs,subtraction,coef_+,coef_-,absolute_error
691,61414,"(2, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",46,1_1_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",9,"[2, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",37,0,37
697,61414,"(2, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",46,2_1_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",9,"[2, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",37,0,37
703,61414,"(2, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",46,3_1_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",9,"[2, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",37,0,37
121,9995,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",49,1_1_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",9,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",40,0,40
181,12131,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",49,1_1_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",9,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",40,0,40
361,42235,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",49,1_1_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",9,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",40,0,40
391,45133,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",49,1_1_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",9,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",40,0,40
421,45469,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",49,1_1_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",9,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",40,0,40
451,45470,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",49,1_1_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",9,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",40,0,40
690,61414,"(2, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",46,1_1_1_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",6,"[2, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",40,0,40
696,61414,"(2, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",46,2_1_1_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",6,"[2, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",40,0,40
702,61414,"(2, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",46,3_1_1_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",6,"[2, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",40,0,40
708,61414,"(2, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",46,4_1_1_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",6,"[2, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",40,0,40
781,72030,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",49,1_1_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",9,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",40,0,40
811,81606,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",49,1_1_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",9,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",40,0,40
901,93150,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",49,1_1_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",9,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",40,0,40
37,3143,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",50,2_1_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",9,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",41,0,41
714,61414,"(2, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",46,5_1_1_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",5,"[2, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",41,0,41
757,69219,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",50,2_1_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",9,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",41,0,41
847,81740,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",50,2_1_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",9,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",41,0,41
120,9995,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",49,1_1_1_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",6,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",43,0,43
180,12131,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",49,1_1_1_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",6,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",43,0,43
360,42235,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",49,1_1_1_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",6,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",43,0,43
390,45133,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",49,1_1_1_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",6,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",43,0,43
420,45469,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",49,1_1_1_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",6,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",43,0,43
450,45470,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",49,1_1_1_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",6,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",43,0,43
780,72030,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",49,1_1_1_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",6,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",43,0,43
810,81606,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",49,1_1_1_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",6,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",43,0,43
900,93150,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",49,1_1_1_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",6,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",43,0,43
36,3143,"(2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, ...",50,2_1_1_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",6,"[2, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, ...",44,0,44
...,...,...,...,...,...,...,...,...,...,...
562,46454,"(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",11,4_3_1_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, ...",27,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -4, 0,...",11,-27,38
568,46454,"(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",11,5_3_1_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, ...",27,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -4, 0,...",11,-27,38
635,57679,"(2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",22,1_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",18,-27,45
641,57679,"(2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",22,2_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",18,-27,45
275,41123,"(2, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",16,1_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[2, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",13,-28,41
647,57679,"(2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",22,3_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",19,-28,47
305,41148,"(2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",13,1_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",11,-29,40
311,41148,"(2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",13,2_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",11,-29,40
281,41123,"(2, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",16,2_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[2, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",14,-29,43
293,41123,"(2, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",16,4_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[2, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",14,-29,43
875,81834,"(2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",16,1_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",14,-29,43
881,81834,"(2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",16,2_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",14,-29,43
893,81834,"(2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",16,4_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",14,-29,43
899,81834,"(2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",16,5_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",14,-29,43
545,46454,"(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",11,1_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",10,-30,40
551,46454,"(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",11,2_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",10,-30,40
317,41148,"(2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",13,3_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",12,-30,42
323,41148,"(2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",13,4_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",12,-30,42
329,41148,"(2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",13,5_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",12,-30,42
287,41123,"(2, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",16,3_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[2, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",15,-30,45
299,41123,"(2, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",16,5_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[2, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",15,-30,45
887,81834,"(2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",16,3_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",15,-30,45
335,41150,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,1_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",0,-31,31
341,41150,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,2_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",0,-31,31
347,41150,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",0,-31,31
353,41150,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,4_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",0,-31,31
359,41150,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,5_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",0,-31,31
557,46454,"(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",11,3_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",11,-31,42
563,46454,"(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",11,4_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",11,-31,42
569,46454,"(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",11,5_3_2_MM,"(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",31,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, -3, 0,...",11,-31,42

In [15]:
df['coef_-'].min()

-31

In [16]:
df['coef_+'].max()

104